<#@ template language="C#" inherits="CppWinRT_CodeGenerator<PageDefinition>" visibility="internal" linePragmas="false"#>
<#@ assembly name="System.Core" #>
#pragma once
#ifndef XAML_IMPL_MODULE
#include <unknwn.h>
#undef GetCurrentTime
<#  foreach (var projectionNamespace in Model.DeclarationCppWinRTProjectionNamespaces) { #>
<#=GetCppWinRTProjectionDependencyDirective(projectionNamespace)#>
<#  } #>
#include "XamlTypeInfo.xaml.g.h"
#include "XamlMetaDataProvider.h"
#endif

#ifdef XAML_IMPL_MODULE
#define XAML_EXPORT export extern "C++"
#else
#define XAML_EXPORT
#endif

XAML_EXPORT namespace winrt::<#=Colonize(ProjectInfo.RootNamespace)#>::implementation
{
    struct XamlMetaDataProvider;
    template <typename D> struct XamlAppMetadataProvider
    {
        using type = XamlMetaDataProvider;
    };
}

XAML_EXPORT namespace winrt::<#=Colonize(Model.CodeInfo.ClassName.Namespace)#>::implementation
{
    template <typename D, typename ... Interfaces>
    struct AppT: public <#=Projection(Model.CodeInfo.BaseTypeName)#>T<D, <#=Projection(KnownNamespaces.XamlMarkup)#>::IXamlMetadataProvider, Interfaces...>
    {
        using XamlMetaDataProvider = typename ::winrt::<#=Colonize(ProjectInfo.RootNamespace)#>::implementation::XamlAppMetadataProvider<D>::type;
        using IXamlType = <#=Projection(KnownNamespaces.XamlMarkup)#>::IXamlType;

        void InitializeComponent()
        {
            if (_contentLoaded)
                return;
           
            _contentLoaded = true;

            ::winrt::Windows::Foundation::Uri resourceLocator{ L"<#=Model.GetLoadComponentUri(Model.CodeInfo.PriIndexName, Model.CodeInfo.BaseApparentRelativePath)#>" };
            <#=Projection(KnownNamespaces.Xaml)#>::Application::LoadComponent(*this, resourceLocator);
        }

<#  if(!ProjectInfo.GenerateProviderCode) { #>

        void AddOtherProvider(<#=Projection(KnownNamespaces.XamlMarkup)#>::IXamlMetadataProvider const& otherProvider)
        {
            AppProvider()->AddOtherProvider(otherProvider);
        }
<#  }#>

        IXamlType GetXamlType(<#=Projection(KnownNamespaces.WindowsXamlInterop)#>::TypeName const& type)
        {
            return AppProvider()->GetXamlType(type);
        }

        IXamlType GetXamlType(::winrt::hstring const& fullName)
        {
            return AppProvider()->GetXamlType(fullName);
        }

        ::winrt::com_array<<#=Projection(KnownNamespaces.XamlMarkup)#>::XmlnsDefinition> GetXmlnsDefinitions()
        {
            return AppProvider()->GetXmlnsDefinitions();
        }

    private:
        bool _contentLoaded{false};
        winrt::com_ptr<XamlMetaDataProvider> _appProvider;
        winrt::com_ptr<XamlMetaDataProvider> AppProvider()
        {
            if (!_appProvider)
            {
                _appProvider = winrt::make_self<XamlMetaDataProvider>();
            }
            return _appProvider;
        }
    };
}

#undef XAML_EXPORT
